<!DOCTYPE html>
<html>
  <head>
    <title>Echocoin</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,900,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <script type="text/javascript">
      $(document).ready(function(){
        $(".echocoin-modal").modal('show');
      });
    </script>

    <script type="text/javascript" src="//cdn-gh.firebase.com/btcquote/embed.js"></script>

  </head>

  <body>

    <header>
      <div id="logo">
        <%= link_to root_path do %>
          <%= image_tag 'echocoin-logo-gray-left.png' %>
        <% end %>
      </div>

      <div id="btc-quote"></div>

    </header>
    <div id="prize-pool-banner">
      <div class='prize-pools-tab'>Prize Pools</div>
      <ul>
        <% @prize_pools.each_with_index do |prize_pool, index| %>
          <li>
            <%= "| " unless index == 0 %>
            <%= " #{prize_pool.name} #{number_with_precision(prize_pool.total, precision: 5)}" %> <span class="glyphicon glyphicon-bitcoin"></span>
          </li>
        <% end %>
      </ul>
    </div>

    <%= yield %>

    <footer>
      <span id="copyright">Copyright &copy;<%= Time.now.year %> A SHA in the Dark, LLC</span>
      <div id="links">
        <%= link_to 'About', about_path %>
        <span id="separator">|</span>
        <%= link_to 'Terms', terms_path %>
      </div>
    </footer>
  </body>
</html>
