<!DOCTYPE html>
<html>
  <head>
    <title>Echocoin</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,900,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div id="test_banner">*** You are in Test Mode. No real bitcoins will be sent or received. ***</div>

    <header>
      <div id="logo">
       <%= link_to '/' do %>
        <span>Echo</span><span>coin</span></div>
      <% end %> - <span>Transactions with a purpose</span>
      <div id="user">User id: <%= @user.name %> | Balance: <%= @user.get_balance %></div>
    </header>

    <div id="content">
      <%= yield %>
    </div>

    <footer>
      <span id="copyright">Copyright &copy;<%= Time.now.year %> Foo Bros., LLC</span>
      <div id="links">
        <%= link_to 'About', about_path %>
        <span id="separator">|</span>
        <%= link_to 'Terms', terms_path %>
      </div>
    </footer>
  </body>
</html>
