<!DOCTYPE html>
<html>
  <head>
    <title>Echocoin</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,900,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <script type="text/javascript">
      $(document).ready(function(){
        $(".echocoin-modal").modal('show');
      });
    </script>
  </head>

  <body>

    <header>
      <div id="logo">
       <%= link_to '/' do %>
        <span>Echo</span><span>coin</span></div>
      <% end %> - <span>Transactions with a purpose</span>
    </header>
    <div id="user">
      Your Bitcoin Address: <span class="value"><%= @user.btc_address %></span> &nbsp;|&nbsp; Your Balance: <span class="value"><%= @user.get_balance %></span> <span class="glyphicon glyphicon-bitcoin" />
    </div>

    <div id="content">
      <%= yield %>
    </div>

    <footer>
      <span id="copyright">Copyright &copy;<%= Time.now.year %> A SHA in the Dark, LLC</span>
      <div id="links">
        <%= link_to 'About', about_path %>
        <span id="separator">|</span>
        <%= link_to 'Terms', terms_path %>
      </div>
    </footer>
  </body>
</html>
