<!DOCTYPE html>
<html>
<head>
  <title>Echocoin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="test_banner"></div>
<header>Echocoin - <span>Transactions with a purpose</span></header>
<div id="user"><%= @user.name %></div>
<%= yield %>
<footer>Copyright &copy;<%= Time.now.year %> Foo Bros.</footer>

</body>
</html>
